* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background: #f4f4f4;
    font-family: Arial, sans-serif;
}



label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="file"] {
    margin-top: 10px;
}

button {
    margin-top: 15px;
    padding: 10px 15px;
    background: #476a30;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.msg {
    margin-top: 10px;
    color: red;
}