.footer {
    background-color: #eeece7;  
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
}

.h22 {
    font-size: 20px;
    color: #4c5d42;
    padding-right: 10px;
}

.ppp {
    font-size: 20px; 
    color: #4c5d42;
}